/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

#calendarDiv {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
    width: 100%;
    padding: 1px;
    background-color: clear;
    border-bottom: 1px solid grey;
}

.day {
    border: clear;
    font-weight: strong;
}

/*---------Rylee's css section --------*/
.day:hover{
    background-color: Moccasin;
    cursor: pointer;
}

#taskBarModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 25%;
    border-radius: 4px;
    background-color: lightgrey;
    color: black;
    height: auto;
    width: 60%;
    align-items: center;
}

#modalDescription {
    font-size: 30px;
    font-weight: 400;
    color: darkslategrey;
    padding: 10px;
    margin: 10px 10% 10px 10%;
}

textarea {
    width: 80%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    padding: 20px;
    margin: 10px 10% 10px 10%;
}

#saveNewTaskBtn {
    margin: 10px 10px 10px 10%;
}

#exitTaskBtn {
    margin: 10px;
}

.newTask {
    padding: 40px;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    margin: 10px;
}

.selectStatus{
    border: 1px solid black;
    width: 110px;
    height: auto;
    font-size: 16px;
}

/*---------Rylee's css section End --------*/

/*Month heading style*/
#month {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: lightgrey;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin-bottom: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

